@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Black.ttf") format("truetype");
    font-weight: 900;
  }

  @font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
         font-weight: 700;
  }

  @font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
         font-weight: 500;
  }

  @font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
         font-weight: 600;
  }

  @font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
         font-weight: 400;
  }
*{
    margin: 0;
    padding: 0;
}
.woman {
    background: url("../img/Main.png") no-repeat center center/ cover;
    height: 1200px;
}
.container{
    width: 1400px;
    margin: 0 auto;
}
.logo{
 
    width: 394px;
    height: 148px;
   }
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headtext{
 
width: 462px;
height: 50px;


font-family: "Montserrat";
font-weight: 400;
font-size: 24px;
line-height: 29px;

text-align: center;
color: #FFFFFF;

}
.social{
    display: flex;
}
.number{
font-family: 'Montserrat';
font-style: normal;
font-weight: 900;
font-size: 30px;
line-height: 37px;
color: #FFFFFF;
text-decoration: none;
}

.viber{
display: flex;
align-items: center;
margin-right: 9px;
}

.viber1{
margin-left: 5px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
}

.whatsapp{
display: flex;
align-items: center;
margin-right: 9px;
}

.whatsapp1{
    margin-left: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.telegram{
display: flex;
align-items: center;
margin-right: 9px;
}

.telegram1{
    margin-left: 5px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
}
  
.block{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.container2{
    text-align: center;
    margin-top: 50px;
}

.tittle{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 40px;
color: white;
}

.subtittle{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 40px;
color: #FFFFFF;
margin-top: 10px;
}

.subtittle span{
    color: rgb(56, 0, 88);
}

.preims{
    margin-left: 280px;
    display: block;
    margin-top: 40px;
}

.preim{
    display: flex;
    align-items: center;
    margin-bottom: 45px;
}

.preim_text{
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
color: #FFFFFF;
margin-left: 45px;
}

.buiz{
    margin-left: 280px;
    margin-top: 190px;
}

.buiz_text{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;

color: #FFFFFF;
}

.buiz_button{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
        
    color: #FFFFFF;

    width: 299px;
    height: 91px;
    background: #A56492;
    border-radius: 20px;
    margin-top: 50px;
}
.section2, .section3{
    padding: 88px 0 70px 0;
    background: white;
    filter: drop-shadow(0px -4px 21px rgba(0, 0, 0, 0.25)) drop-shadow(8px 4px 21px rgba(0, 0, 0, 0.25));
    border-bottom: 0px solid;
}
.section__block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.corona{
width: 585px;
height: 621px;

}

.coronatext{
    margin: auto;
}

.coronatext1{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;

}

.coronatext2{
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 20px;

margin-top: 60px;
}

.coronatext3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;

    margin-top: 20px;
    }

.coronatext4{
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 20px;

margin-top: 20px;
}

.corona_button{
    margin-top: 60px;

    width: 480px;
    height: 91px;
    background: #A56492;
    border-radius: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.gruppa1, .gruppa2{
    margin-top: 40px;
}

.murzinatext{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;    
    
    color: #000000;
}

.murzinatext span{
    color: rgb(56, 0, 88);
    font-weight: 700;
}

.knopka1{
    width: 278px;
    height: 60px;
    background: #A9A6A8;
    border-radius: 20px;
}

.knopka1::placeholder{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;

    color: #FFFFFF;
    text-align: center;
}

.knopka2{
    width: 278px;
    height: 60px;

    background: #A9A6A8;
    border-radius: 20px;

    margin-left: 20px;
}

.knopka2::placeholder{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;

    color: #FFFFFF;
    text-align: center;
}

.knopka3{
    width: 278px;
    height: 91px;

    background: #A9A6A8;
    border-radius: 20px;
}

.knopka3::placeholder{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;

    color: #FFFFFF;
    text-align: center;
}

.knopka4{
    width: 278px;
    height: 91px;

    background: #A56492;
    border-radius: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;

    color: #FFFFFF;

    margin-left: 20px;
}

.section4{
    padding: 88px 0px;
}

.videocont{
    width: 1023px;
    height: 552.27px;
    margin: 0 auto;
    background: #C4C4C4;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 144px;
    text-align: center;

    color: #FFFFFF;
}

.section5{
    background: url("../img/bg.png") no-repeat center center/ cover;
    height: 996px;

}

.franchtext{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-align: center;

    color: #000000;
}

.franchtext span{
    color: rgb(56, 0, 88);
}

.franchtext2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;

    color: #000000;
    margin-top: 18px;
    margin-bottom: 660px;
}

.knopka5{
    width: 278px;
    height: 60px;

    background: #A9A6A8;
    border-radius: 20px;
}

.knopka5::placeholder{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;

    color: #FFFFFF;
    text-align: center;
}

.knopka6{
    width: 278px;
    height: 60px;

    background: #A9A6A8;
    border-radius: 20px;
}

.knopka6::placeholder{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;

    color: #FFFFFF;
    text-align: center;
}

.knopka7{
    width: 278px;
    height: 60px;

    background: #A9A6A8;
    border-radius: 20px;
}

.knopka7::placeholder{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;

    color: #FFFFFF;
    text-align: center;
}

.knopka8{
    width: 278px;
    height: 60px;

    background: #A56492;
    border-radius: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;

    color: #FFFFFF;
}

.gruppa3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.chto_text1{
    padding-top: 100px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}

.chto_text2{
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-top: 18px;
}

.kachs_grup1{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.kach_text{
    margin-top: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.section6{
    background: white;
    filter: drop-shadow(0px -4px 21px rgba(0, 0, 0, 0.25));
    border-bottom: 0px solid;
    padding-bottom: 100px;
}

.cleanerstext1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;

}

.cleanerstext2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin-left: 14px;
}

.super{
    display: flex;
    align-items: center;

    margin-top: 240px;
}

.section7{
    background: white;
    filter: drop-shadow(0px -4px 21px rgba(0, 0, 0, 0.25));
    border-bottom: 0px solid;
    padding-bottom: 70px;
}

.section8{
    
}

.ochenprosto{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    padding-top: 80px;
}

.ochenprosto span{
    color: white;
    padding: 5px;
    background: rgba(165, 100, 146, 1);
}

.ochenprosto2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ochenprosto3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.ochenprosto3 span{
    color: white;
    padding: 5px;
    background: rgba(165, 100, 146, 1);
}

.line2{
    margin-left: 210px;
}

.schema{
    margin-top: 30px;

}

.section8{
    background: white;
    filter: drop-shadow(0px -4px 21px rgba(0, 0, 0, 0.25));
    border-bottom: 0px solid;
    padding-bottom: 80px;
}

.section9{
    padding-bottom: 80px;
}

.pokaz_grupp1{
    display: flex;
    align-items: center;
}

.pokaz_grupp2{
    display: flex;
    align-items: center;
}

.pokaz{
    margin-top: 90px;
    align-items: center;
    padding-left: 180px;
}

.pokaz1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    text-align: center;

    color: #000000;
}

.pokaz2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;

    background: #A56492;
    color: #FFFFFF;

    margin-left: 40px;
    padding: 5px;
}


.pokaz3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    text-align: center;

    color: #000000;
}

.pokaz4{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;

    background: #A56492;
    color: #FFFFFF;

    margin-left: 80px;
    padding: 5px;
}

.pokaz_grupp3{
    display: flex;
    align-items: center;
    margin-top: -10px;
}

.equal{
    margin-left: 100px;
}

.pokaz11{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    text-align: center;

    color: #000000;
    margin-left: 80px;
}

.debili_text1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}

.debili_text1 span{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;

    background: #A56492;
    text-align: center;

    color: #FFFFFF;
    padding: 5px;
}

.cleaners{
    width: 798px;
    height: 464px;
}

.debili_block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
}

.debilitexts{
    margin: auto;
}

.debilitextt{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin-left: 20px;
}

.debilitextt span{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;

}

.debilitext{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.section10{
    background: white;
    filter: drop-shadow(0px -4px 21px rgba(0, 0, 0, 0.25));
    border-bottom: 0px solid;
    padding-top: 80px;
}

.zp_text1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;

    margin-top: 100px;

}

.zpglavniy{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;

}

.zpzav{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.zpzav span{
    background-color: #A56492;
    color: white;
    padding: 5px;
}

.zp_block{
    margin-top: 80px;

}


.brace_block{
    display: flex;
    align-items: center;


}